# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

backend/chroma_db/chroma.sqlite3
backend/chroma_db/chroma.sqlite3
backend/chroma_db/8b4832ac-896b-4138-9d3b-d7174905b161/data_level0.bin
backend/chroma_db/8b4832ac-896b-4138-9d3b-d7174905b161/header.bin
backend/chroma_db/8b4832ac-896b-4138-9d3b-d7174905b161/index_metadata.pickle
backend/chroma_db/8b4832ac-896b-4138-9d3b-d7174905b161/length.bin
